<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="KSC-Sharp" Language="1033" Version="0.1.0.0" Manufacturer="SSMG4" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="KSC-Sharp" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppShortcutFolder" Name="KSC-Sharp" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="AppFiles" Guid="PUT-GUID-HERE">
        <!-- Populate with published files -->
        <File Id="WindowsLauncherExe" Source="..\..\dist\win\WindowsLauncher.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="AppShortcutFolder">
      <Component Id="StartMenuShortcut" Guid="PUT-GUID-HERE-2">
        <Shortcut Id="StartMenuShortcutId"
                  Name="KSC-Sharp"
                  Description="Launch KSC-Sharp"
                  Target="[INSTALLFOLDER]WindowsLauncher.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveShortcutFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\KSC-Sharp" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Product>
</Wix>
